<!DOCTYPE html>
<html>
<head>
  <title>DomainSpamChecker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= yield :css %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag 'application' %>
<%= yield :js_footer %>

</body>
</html>
